<nav style="background-color: #add8e6" class="navbar navbar-default" role="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">ErrandRunner</a><br>
    </div>

    <div  class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-right">

            <a href="/signup">Signup</a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
