 <div class="container">
<h1> Welcome to Errand Runner </h1>
<div>
<p> Uber for simple tasks, focused on college campuses. It is a reliable small jobs/errands outsourcing marketplace in your college. Signup link below</p>
<a href="/signup" class="btn btn-default">Signup</a>
</div>

