
<html>

<%= erb(:index, :layout => false) %>

<div class = "mainContent">
		<div class = "content">
			<article class = "topContent">
				<header><h2> <a href=""> First Post</a> </h2></header>
				<footer> <p class="post-info"> Written by Subahu </p> </footer>
				<content>
					This is a first line.This is a first line.This is a first line.This is a first line.This is a first line.
				</content>
			</article>


		</div>
	</div>


	<aside class = "top-sidebar">
	<article>
		<h2> Top Sidebar</h2>
		<p>This is a first line</p>
	</article>
	</aside>

	<aside class = "middle-sidebar">
	<article>
		<h2> Middle Sidebar</h2>
		<p>This is a first line</p>
	</article>
	</aside>
	
	<aside class = "bottom-sidebar">
	<article>
		<h2> Bottom Sidebar</h2>
		<p>This is a first line</p>
	</article>
	</aside>

	<footer class = "mainFooter">
		<p> Copyright</p>
	</footer>
</html>