 <div class="container">
<h1> Welcome to Errand Runner </h1>
<div >
 <span class= "backholder">Uber for simple tasks, focused on college campuses.<br> A reliable small jobs/errands outsourcing marketplace in your college. </span> 
</div>
<a href="/signup" class="btn btn-default">Sign up</a>
