<!DOCTYPE html>

<html>

<head> 
	<title> New Webpage </title>
	<meta charset = "utf-8" />

	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=width-device", initial-scale=1.0" >

</head>

<body class = "body">

	<header class = "mainHeader">
		<nav><ul>
			<li><a href ="/"> Home </a></li>
			<li><a href ="/about"> About & Contact </a> </li>
			<li><a href ="/blog"> Blog </a></li>

		</ul></nav>
	</header>

	
</body>
</html>