<div class="row">
  <div class="col-md-4 col-md-offset-4 profile-container">

    <h1>Sign up</h1>
    <form action ="/signup" method ="post" >
       <input type="text" name='fullname' class="form-control" placeholder="Full name">
      <input type="text" name='username' class="form-control" placeholder="user name">
      <input type="email" name='emailadd' class="form-control" placeholder="Email">
      <input type="password" name='pass' class="form-control" placeholder="Password">
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>