<div class="row">
  <div class="col-md-4 col-md-offset-4 profile-container">

    <h1>Sign up</h1>
    <form action ="/signup" method ="post" >
       <input type="text" name='name' class="form-control" placeholder="User_name">
      <input type="text" name='user_name' class="form-control" placeholder="User_name">
      <input type="text" name='email' class="form-control" placeholder="Email">
      <input type="text" name='password' class="form-control" placeholder="Password">
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>