body {

	background-image: url("https://nyoobserver.files.wordpress.com/2014/07/brandeis_university_admissions_night.jpg?quality=80");
	background-size:1370px 650px;
	

}

.backholder {
	opacity:0.55;
	background-color: black;

}

span{
	color:white;
}

h1 {
	color: #104E8B;
	font-family: "Times New Roman", Georgia, Serif;
}