body {

	background-image: url("http://www.e-architect.co.uk/images/jpgs/boston/brandeis_campus_center_c291110_4.jpg");
	background-size:100%;
	

}

.backholder {
	opacity:0.7;
	background-color: grey;

}

span{
	color:blue;
}