body {

	background-image: url("https://nyoobserver.files.wordpress.com/2014/07/brandeis_university_admissions_night.jpg?quality=80");
	background-size:100%;
	

}

.backholder {
	opacity:0.7;
	background-color: grey;

}

span{
	color:blue;
}